body{
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
  background: #fafafa;
  color: #444;
  max-width: 720px;
  margin: 0 auto;
}
header{
  display: flex;
  flex-direction: row;
}
.page{
  display: flex;
  flex-direction: row;
}
h1,h2,h3,h4{
  color: #666;
  font-family: 'Libre Franklin', sans-serif;
}
h1{
  font-size: 48px;
  font-family: 'Libre Franklin', sans-serif;
  flex: 1;
}
h1 a{
  color: #666;
}
.metanav{
  flex: 1;
  align-self: flex-start;
  text-align: right;
  margin-top: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

a{
  color:#1ABC9C;
  text-decoration: none;
}

.small{
  color: #888;
  margin-top: 10px;
  font-size: 12px;
  display: block;
}

a:hover{
  color:#149184;
  text-decoration: underline;
}

.btn{
  color: white;
  background: #1ABC9C;
  padding: 5px 14px;
  font-size: 14px;
  font-family: 'Libre Franklin', sans-serif;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  border: 0;
}
.btn:hover{
  color: white;
  background: #149184;
  text-decoration: none;
}
.btn.cancel{
  background: #aaa;
}
.delete{
  color: #bbb;
  margin-left: 2px;
  font-size: 14px;
}
.delete:hover{
  color: #df517d;
  text-decoration: none;
}
.breadcrumbs{
  margin-bottom: -14px;
}

ul{
  margin: 0;
  list-style: none;
  padding: 0;
}
li{
  margin: 0;
}
.panel{
  flex: 1;
}

.form-field{
  margin-top: 20px;
}
form{
  flex: 1;
  background: white;
  padding: 0 20px 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
form .btn{
  padding: 12px 25px;
  font-size: 16px;
}
label{
  display: block;
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #666;
}
input[type='text'], input[type='password'], textarea{
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: 'Libre Franklin', sans-serif;
  width: 50%;
  background: #fafafa;
}
textarea{
  height: 200px;
}
select{
  height: 30px;
  font-size: 14px;
  background: white;
  width: 50%;
}
.flash{
  flex: 1;
  background: #e0e9e7;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #c7d8d5;
  color: #5f9f92;
}
