{% extends "layout.html" %}
{% block body %}

  <div class="panel">
    <p class="breadcrumbs"><a href="{{ url_for('show_categories') }}">Categories</a>/</p>
    <h2>{{category.name}}</h2>
    <ul class=items>
    {% if category.get_items()%}
      {% from "_partials.html" import item %}
      {% for i in category.get_items() %}
        {{ item(i, user) }}
      {% endfor %}
    {% else %}
      <li><p><em>Unbelievable.  No items here so far</em></p></li>
    {% endif %}
    </ul>
    {% if user %}
      <a href="{{url_for('add_item', c_id=category.id)}}" class='btn'>Add item</a>
    {% endif %}
  </div>
{% endblock %}
