{% extends "layout.html" %}
{% block body %}
  <div class="panel">
  <h2>Categories</h2>
  <ul class="categories">
  {% from "_partials.html" import category, item %}
  {% if categories %}
    {% for c in categories %}
      {{ category(c, user) }}
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No categories here so far</em></li>
  {% endif %}
  </ul>
  {% if user %}
    <a href="{{ url_for('add_category') }}" class='btn'>Add category</a>
  {% endif %}
</div>
  <div class="panel">
  <h2>Latest items</h2>
  <ul class="items">
  {% if items %}
    {% for i in items %}
      {{ item(i, user) }}
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No categories here so far</em></li>
  {% endif %}
  </ul>
  {% if user %}
    <a href="{{ url_for('add_item') }}" class='btn'>Add item</a>
  {% endif %}
</div>

{% endblock %}
