{% extends "layout.html" %}
{% block body %}
  <h3>{{category.name}}</h3>
  <ul class=entries>
  {% if category.get_items()%}
    {% for i in category.get_items() %}
      <li>
        <h2>
          <a href="{{url_for('show_item', c_name=category.name, item_name=i.name)}}">
            {{ i.name }}
          </a>
          {% if i.author_id == user.id %}
            <a href="{{url_for('delete_item', item_id=i.id)}}">[X]</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No items here so far</em></li>
  {% endif %}
  </ul>
  {% if user %}
    <a href="{{url_for('add_item', c_name=category.name)}}">Add item</a>
  {% endif %}
{% endblock %}
