{% extends "layout.html" %}
{% block body %}
  <div class="panel">
    <h2>New item</h2>
    {% from "_formhelpers.html" import render_field, category_select %}
    <form method=post enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      {{ render_field(form.category_id) }}
      {{ render_field(form.name) }}
      {{ render_field(form.body) }}
      {{ render_field(form.upload) }}
      {% if i and i.image %}
        <img src="{{i.get_image()}}" height="100"/>
      {% endif %}
      <em class="small"> Max file size is 2mb</em>
      {{ form.author_id }}

      <p>
        <a href="javascript:history.back()" class='btn cancel'>Cancel</a>
        <input type=submit value=Done class="btn">
      </p>

    </form>
  </div>
{% endblock %}
